/*#dropzone, #my-dropzone {
	border: 1px solid black;
}
*/

.dzone {
	width: 350px;
}

html {
	/*background-color: #f4fdff;*/
	font-family: 'Ruda', sans-serif;
}

#map {
	height: 450px;
}

body {
	margin: 0px;
}

.img_loader {
	vertical-align: middle;
    margin-top: 180px;
    margin-left: 100px;
    height: 280px;
    width: 250px;
    border: none !important;
    border-radius: 4px;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
}

header {
	height: 100px;
	background-color: #343535;
}

.header-logo {
	max-height: 100px;
}

.upload-box {
    border: 1px solid #d2cfcf;
    margin: 0px !important;
    padding: 30px 10px 118px 10px;
    border-radius: 3px;
    font-size: 0.8em;
}

.hotel {
	background-color: white;
    width: 378px;
    padding: 20px;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

.hotel-name {
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hotels {
    width: 90%;
    margin: 0 auto;
	background-color: #fff5f5;
}

.behind {
	background-color: #343535;
}

.hotel-preview {
	max-height: 250px;
}

.hotel-description {
	font-size: 0.9em;
}




